{#
 # Portfolio entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry’s URL is
 # requested. That’s because the News section’s Template setting is
 # set to “portfolio/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested Portfolio entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block main %}
	<div class="container">
		<div>
			<h2>ЗДесь будет тест</h2>
			{% for entry in craft.entries.section('portfolio').limit(10) %}
    <article>
        <h1><a href="{{ entry.url }}">{{ entry.title }}</a></h1>
        <a href="{{ entry.url }}">Continue reading</a>
    </article>
{% endfor %}
		</div>
	<article>
		{% set artem = craft.entries.section('portfolio').relatedTo({
		sourceElement: 'zdorovface'
	}) %}
		<h1 class="portfolio-item__title">{{ entry.title }}</h1>
		<div>
			{% set myAsset = entry.portfolioimage.first() %}
				<h2>Второй тест</h2>
					{% for entry in artem %}
				    <article>
				        <h1><a href="{{ entry.url }}">{{ entry.title }}</a></h1>
				        <a href="{{ entry.url }}">Continue reading</a>
				    </article>
					{% endfor %}
			{% if myAsset %}
				<img src="{{ myAsset.url }}" alt="">
			{% endif %}
		</div>
		<div class="portfolio-content">
			{{ entry.body }}
		</div>
	</article>
	</div>
{% endblock %}














